<h1>Bienvenido al Menú Principal de Alumnos</h1>

<p>Find me in app/views/alumnos/menu_principal.html.erb</p>
<%= link_to 'Cerrar sesión', destroy_alumno_session_path, method: :delete, data: { confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>

