<div class="container-profesor">
  <!-- Título centrado -->
  <h1 class="titulo-principal">SANVAC</h1>

  <!-- Subtítulo alineado a la izquierda -->
  <h2 class="subtitulo-bienvenida">Bienvenido Profesor <%= current_profesor.nombre %></h2>

  <!-- Contenedor para los botones -->
  <div class="botones-menu">
    <%= link_to 'AGREGAR CURSO', new_curso_path, class: 'btn-log-in' %>
    <%= link_to 'VER MIS CURSOS', cursos_path, class: 'btn-log-in' %>
    <%= link_to 'CERRAR SESIÓN', destroy_profesor_session_path, method: :delete, class: 'btn-cerrar-sesion' %>
  </div>
</div>
