<h1>Bienvenido al Menú Principal de Profesores</h1>

<p>Find me in app/views/profesores/menu_principal.html.erb</p>

<%= link_to 'Cerrar sesión', destroy_profesor_session_path, method: :delete, data: { confirm: '¿Estás seguro de que quieres cerrar sesión?' } %>
