<%= render 'sidebar' %> <!-- Incluir la barra lateral -->
<div class="detalles-curso">
  <h1><%= @curso.nombre %> - <%= @curso.sigla %></h1>
  <p><strong>Descripción:</strong> <%= @curso.descripcion %></p>
</div>
