<div class="curso-page">
  <!-- Renderizamos el sidebar -->
  <%= render 'cursos/sidebar' %>

  <!-- Contenedor principal para los grupos -->
  <div class="grupos-container">
    <h1>Grupos de <%= @curso.nombre %></h1>

    <div class="btn-container">
      <%= link_to 'Crear nuevo grupo', new_curso_grupo_path(@curso), class: 'btn-crear-grupo' %>
    </div>

    <ul class="grupos-lista">
      <% @grupos.each do |grupo| %>
        <li class="grupo-item">
          <%= grupo.nombre %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
