 /* Contenedor general */
 .form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f4f0;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

/* Lado izquierdo (botón de iniciar sesión o crear cuenta) */
.col-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-log-in,
.btn-crear-cuenta {
  padding: 15px 30px;
  background-color: #063971; /* Azul */
  color: #ffffff; /* Blanco */
  border: 2px solid #063971;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-log-in:hover,
.btn-crear-cuenta:hover {
  background-color: #052e61;
  color: #ffffff;
}

/* Lado derecho (formulario de creación de cuenta) */
.col-right {
  flex: 2;
  padding: 20px;
}

.titulo {
  font-size: 28px;
  color: #063971;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

/* Estilo de los inputs */
.input {
  width: 100%;
  padding: 10px;
  border: 2px solid #063971;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.input:focus {
  border-color: #063971;
  outline: none;
  box-shadow: 0 0 5px rgba(6, 57, 113, 0.5);
}

/* Botón de registrar */
.btn-registrar {
  padding: 15px 30px;
  background-color: #063971;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn-registrar:hover {
  background-color: #052e61;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif; /* Asegúrate de usar la misma fuente */
}
